/*Positions animated balls on top of title page*/
#my_canvas {
    position: relative; 
    right: -60px; 
    top: 60px;  
}

#header {
	margin: 0 auto;
	text-align: center;
	padding:10px;
}

#header img {
	text-align: center;
	margin-left:-5px;
}
/* Tab Design */ 
/* Spacing in Relation to Page*/ 

/* tab box outline 
div.tab{
    overflow: hidden;
    border: 0.5px solid #ccc;
} */ 
div.tab button {
    position: relative;
    right: -90px; /* tells tabs to shift right */

    background-color: inherit;
    color: #fff; 
    font-family: 'OCR A Std'; 
    font-size: 15px; 
    
    
    border: none;
    outline: solid;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tab button:hover {
    color: #0ff;
} 

div.tab button.active{
    background-color: #0ff; 
}

/*Deals with lining when tab is opened
    padding: 6px 12px; 
    border: 1px solid #ccc;*/ 
div.tabcontent{
    position: relative;
    right: -90px;
    text-align: -90px; 

    display: none; 
    border-top: none;
}

/* Body's Style */ 
body {
    
    position: relative; 
    top: -160px; /*closes space btw top of the page and title*/

	min-width:500px;
	margin:0 auto;
	padding:50px;
    font-family: 'OCR A Std';
    background:#000;
}

body.noscroll {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color:#ccc;
	letter-spacing: 3px;
    text-transform: uppercase;
}

h2 {
    font-size: 15px;
    margin: 5px;
    color:#fff;
}

h3 {
	font-size: 10px;
	margin:14px 0 4px;
}

p {
    font-size: 12px;
	line-height: 16px;
    margin: 4px 0;
    letter-spacing: 1.5px;
    color:#fff;
}

/* Article Layout */ 


article {
    position: relative;
    bottom: -50px; /* creates spacing btw text and tabs!! */
    right: -90px;

    margin-right: 17px;
    padding: lem;
    overflow:hidden; 
    font-family: 'Arial';  
}

/*Any link */ 
a:link, a:visited {
    color:#fff;
}
a:hover {
    color:#0ff;
}

/* Position Image */ 
/* Depending on how the homepage continues to grow; keep in mind to change image's
position in relation to text (it'll be either relative/absolute/fixed or static)

If you want image to be behind text, then set position to absolute and z-index: -1 */
img {
    position: relative;
    left: 0px;
    top: 0px;
   
}
/*Spotlight Hyper-Link */
.credit-link {
    text-align: center;
    margin: 100px auto 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    opacity: 0.5;
    z-index: -20;
}

.credit-link a:link, .credit-link a:visited {
    color:#fff;
}

.credit-link a:hover {
    color:#ff0;
    transition: color 400ms;
}

/* Formats Page Length & Size */ 
/* noticeable change: this pushed the Spotlight link down to the bottom of the page*/
#content {
    margin: 20px auto;
    text-align: center;
    min-height: 500px;
}

#content .demo {
	position: relative;
    width: 160px;
    height: 120px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    padding:10px;
    cursor: pointer;
}

/* Style for cataloging demos */
#content .demo:hover {
	background-color:#f0f;
    transition: background-color 400ms;
}

#content .demo .screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Figure out how to embed demo videos */
#content .demo .screen image {
    width: 100%;
    height: auto; 
}

/*Lightbox Style*/
#lightbox {
	display: none;
	position: fixed;
	top:0;
	bottom:0;
	right:0;
	left:0;
    z-index: 20;
}

#lightbox #back, #lightbox #front {
	width:100%;
	height: 100%;
	background:#fff;
	position: fixed;
}

#lightbox #back {
    opacity: 0.5;
}

#lightbox #front {
    margin: auto;
    padding: 20px;
    width: 50%;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-left: 20px #0ff solid;
    border-right: 20px #0ff solid;
    overflow: scroll;
}

#lightbox #demo .screen video {
    width: 100%;
}

#lightbox #demo .screen, #lightbox #demo .description {
	margin:10px;
	vertical-align: top;
}

#lightbox #demo .description #text, #lightbox #demo .description #box {
	display: inline-block;
} 

#lightbox #demo .description #text {
	width:55%;
}

#lightbox #demo .description #box {
    width:45%;
    vertical-align: top;
	padding: 10px 0 20px;
}

#lightbox #demo .description #box img {
	width:100%;
}

#lightbox #close {
	background: url('/images/button-close.png') no-repeat right top;
	position: fixed;
	top:20px;
	right:30px;
	width:50px;
	height:50px;
	background-size: 100%;
	cursor: pointer;
}

#lightbox #close:hover {
	background-position: right -50px;
}